
#home-form{
    margin: auto;
    width: 50%;
    /*border: 3px solid green;*/
    padding: 10px;
}
#from{
    padding: 70px 0;
    /*border: 3px solid green;*/
    text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap');

* {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-image: linear-gradient(to bottom right, #f8fffd, #f9ffdf);
    color: black;
    padding: 35px 20px;
    font-size: 20px;
}

.home {
    font-weight: 500;
    font-size: 20px;
    width: fit-content;
    float: left;
    text-align: left;
}

nav ul {
    text-align: center;
    list-style: none;
    margin: 0;
    margin-top: 3px;
    margin-left: -40px;
}

#menu-icon {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
}

a {
    text-decoration: none;
    color: black;
}

.list-item {
    width: 100%;
    padding: 10px;
}

.list-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.active{
    text-decoration: underline;
}

.hide {
    display: none;
}

@media (min-width: 700px) {

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    .top {
        margin-top: 0;
    }

    .list-item {
        margin-left: 20px;
        width: fit-content;
        padding: 0
    }

    #menu-icon {
        display: none;
    }

    .hide {
        display: flex;
    }
}

.input input {
    margin: 20px 15px 10px 30px;
}
